.spreadsheet {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px 30px 30px 30px;
  grid-auto-flow: row;
}

.cell {
  justify-self: stretch;
}

.cell input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}